
cocos2dx/proj.ios/cocos2dx.xcodeproj/xcuserdata/jasper.xcuserdatad/xcschemes/cocos2dx.xcscheme

cocos2dx/proj.ios/cocos2dx.xcodeproj/xcuserdata/jasper.xcuserdatad/xcschemes/xcschememanagement.plist

projects/project-prophase/proj.ios/project-prophase.xcodeproj/project.xcworkspace/xcuserdata/jasper.xcuserdatad/UserInterfaceState.xcuserstate

projects/project-prophase/proj.ios/project-prophase.xcodeproj/xcuserdata/jasper.xcuserdatad/xcschemes/project-prophase.xcscheme

projects/project-prophase/proj.ios/project-prophase.xcodeproj/xcuserdata/jasper.xcuserdatad/xcschemes/xcschememanagement.plist

projects/project-prophase/proj.ios/project-prophase.xcodeproj/project.xcworkspace/contents.xcworkspacedata
